$white: #ffffff;
$orange: #f68a00;
$primary: #3d84ff;
$primaryActive: #005dff;
$primaryDark: #1a2d7d;
$lightGray: #f5f5fb;
$mainTextColor: #103460;
$primaryTextColor: #192452;
$secondaryTextColor: #9d9bb6;
